@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My World !!</h1>
    <h2 class="display-1">Shrey Kumar Saxena</h2>
    <p>Calculator <a href="Home/Calci">CLICK ME</a> !!</p>
</div>
